body {
  background-color: gray;
  color: black;
}    

h1.solid {
  border-style: solid;
  text-align: center;
}

p.kalle {
  text-align: center;
  background-color: white;
  border: 2px solid white;
  margin: auto;
  width: 50%;
  border-radius: 8px;
}

ul.ots {
  float: left;
  border-radius: 8px;
  background-color: white;
  border: 2px solid white;
}

div {
  text-align: center;
  display: block;
}
{
  box-sizing: border-box;
}

header {
  background-color: red;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
}

nav {
  float: left;
  width: 100%;
  background: orange;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: green;
  height: 300px; 
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: gray;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
    }
}
