body {
  background-color: gray;
  color: black;
}    

h1.solid {
  border-style: solid;
  text-align: center;
}

p.kalle {
  text-align: center;
  background-color: white;
  border: 2px solid white;
  margin: auto;
  width: 50%;
  border-radius: 8px;
}

p.ots {
  float: left;
  border-radius: 8px;
  background-color: white;
  border: 2px solid white;
}

div {
  text-align: center;
  display: block;
}
{
  box-sizing: border-box;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 100%;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
